/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* some basic resets  */

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
}

$white: rgb(255, 255, 255);
$background-dark: rgb(8, 8, 8);
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   rgb(179, 15, 23);
$primary-color:        rgb(183, 58, 58);
$primary-color-light:  rgb(201, 29, 29);
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #ffffff;
$secondary-text-color: #ffffff;
$divider-color:        rgb(187, 18, 18);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.background-primary {
  background-color: $background-dark!important;
}
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: rgb(254, 254, 254)!important;
}

.flex-spacer {
flex: 1 1 auto;
}