$white: rgb(255, 255, 255);
$background-dark:  rgb(8, 8, 8);
$background-light: rgba(156, 33, 11, 0);
$background-pale: #D1C4E9;
$background-moredark: rgb(12, 10, 10);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-dark ;
    color:rgb(243, 247, 243);
    min-height: 150px;
}

.active {
    background: $background-moredark;
}